# Socks5
ET_SOCKS5=1080

## for all interaface (suitable for nodes behind NAT)
# sudo ufw allow 1080/tcp
# sudo ufw allow 1080/udp

## for easy-tier interface (tun0) suitable for server node
## get interfaces list: ip a
# sudo ufw allow in on tun0 to any port 1080