# Peer

EASYTIER_PROTOCOL=tcp
EASYTIER_PUBLIC_IP=
EASYTIER_PORT=11010

ET_PEERS=${EASYTIER_PROTOCOL:-tcp}://${EASYTIER_PUBLIC_IP}:${EASYTIER_PORT:-11010}

# Exit Nodes
# ET_EXIT_NODES=10.144.144.5,10.144.144.3
ET_EXIT_NODES=